<% if user_signed_in? %>

<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Phone</th>
        <th class="text-center">Twitter</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    
    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <td class="text-center">
              <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
            </td>
            <td class="text-center"><%= friend.email %></td>
            <td class="text-center"><%= friend.phone %></td>
            <td class="text-center"><%= friend.twitter %></td>
            <td class="text-center"><%= link_to 'Edit', edit_friend_path(friend), class:"btn btn-outline-secondary btn-sm" %></td>
            <td class="text-center"><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>



<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>
  <h1>Hello World!</h1>
  <p>This is my first Rails Webpage...</p>
<% end %>